.confirmation, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.confirmation {color: green;}
.error {color: red;}
